@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

table {
  border-collapse: collapse;
}

b6 {
  font-weight: 600
}

b5 {
  font-weight: 500
}

a:link {
  color: #0080ff;
  text-decoration: none;
}

/* .light a:link {
  color: #0060c0;
} */

a:visited {
  color: #1a8dff;
  text-decoration: none;
}
/* .light a:visited {
  color: #006ad3;
} */

a:hover {
  color: #0068d0;
  text-decoration: underline;
}
/* .light a:hover {
  color: #004e9c;
} */

a:active {
  color: #686868;
  text-decoration: underline;
}
/* .light a:active {
  color: #4e4e4e;
} */

utw {
  font-weight: 700;
  font-style: italic;
  font-size: 22;
}

wyd {
  font-weight: 300;
  font-style: italic;
  font-size: 15;
}

body {
  color:e0f0ff;
  background-color:004080;
  font-family:Raleway, sans-serif;
  font-weight:400;
  font-size:16;
}
/* body.light {
  color:003060;
  background-color:80ff80;
} */

notl {
  color: #ff0000;
  text-decoration: none;
}
/* .light notl {
  color: #d00000;
} */

notl:hover {
  color: #d00000;
  text-decoration: underline;
  cursor: pointer;
}
/* .light notl:hover {
  color: #a00000;
} */

.hide div {
  display: none;
}

.hide div:target {
  display: contents;
}

hr {color:e0f0ff}
/* hr.light {color:003060} */

button.dlm {
  color:003060;
  background-color:80ff80;
  font-weight:500;
  cursor: pointer;
  padding: 10px 15px;
  border: none; 
  float: right;
}
/* button.dlm.light {
  color:e0f0ff;
  background-color:004080;
} */